.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background: #fff;
  color: #848484;
  font-weight: 300;
  overflow-x: hidden;
  text-align: center;
}

.bg {
  background-image: url("../public/hero-bg.jpg");
  z-index: 1;
  background-position: 0px 0px;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 630px;
}

.linksContainer {
  flex: 1;
  justify-content: space-evenly;
  flex-direction: row;
  display: inline-flex;
  align-items: center;
}

.linksContainer > div {
  margin: 6px;
}

.navbar-brand {
  background-color: transparent;
  border: none;
  width: 200px;
  height: 100px;
}

.navbar {
  padding-top: 2rem;
}

.homeContainer {
  height: 562px;
  position: relative;
}

.overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  height: 630px;
}

.App > * {
  z-index: 3;
}

ul.navbar-nav > li a {
  text-decoration: none;
  color: inherit;
}

.nav-link {
  padding: 0;
}

.welcomeText {
  top: 15rem;
  position: absolute;
  left: 30rem;
  font-size: 50px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.card {
  margin-bottom: 4rem;
}

.card-icon {
  width: 150px !important;
  padding: 10px 30px 20px 0;
  float: left;
}

.card-text {
  text-align: left;
  font-size: 1.6rem;
}

.card-title {
  font-size: 25px !important;
  color: #1E90FF;
  text-transform: uppercase;
  font-weight: 700;
}

.footer {
  background: #fff;
  padding: 60px 0 40px;
}

ul li a {
  text-decoration: none;
}

ul li {
  list-style: none;
  /* padding: 5px 0; */
}

.appDevManContainer, .enterprisePageContainer, .securityPageContainer {
  position: relative;
  height: 562px;
}

.pageHeading {
  line-height: 400px;
  letter-spacing: 12px;
  font-size: 4rem;
}

.dropdown-menu a {
  z-index: 9999;
}